<!-- Footer Start -->
<div class="footer-section">
	<!-- Footer Widget Area Start -->
	<div class="footer-widget-area section-padding-01">
		<div class="container">
			<div class="row gy-6">
				<div class="col-lg-4">
					<include href="{{ @baseComponentFolder.'footer/footer_widget.html' }}" />
				</div>
				<div class="col-lg-8">
					<include href="{{ @baseComponentFolder.'footer/footer_menu.html' }}" />
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Widget Area End -->
	<!-- Footer Copyright Area End -->
	<div class="footer-copyright">
		<include href="{{ @baseComponentFolder.'footer/footer_copyright.html' }}" />
	</div>
	<!-- Footer Copyright Area End -->
</div>
<!-- Footer End -->
<!--Back To Start-->
<button id="backBtn" class="back-to-top backBtn">
	<i class="arrow-top fal fa-long-arrow-up"></i>
	<i class="arrow-bottom fal fa-long-arrow-up"></i>
</button>
<!--Back To End-->