<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ @components.title }}</title>
<meta name="robots" content="noindex, follow" />
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ @baseRes }}images/favicon.png">

<!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

<!-- Font CSS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

<!-- Vendor CSS (Bootstrap & Icon Font) -->
<link rel="stylesheet" href="{{ @baseRes }}css/vendor/fontawesome-all.min.css">
<link rel="stylesheet" href="{{ @baseRes }}css/vendor/edumall-icon.css">
<link rel="stylesheet" href="{{ @baseRes }}css/vendor/bootstrap.min.css">

<!-- Plugins CSS (All Plugins Files) -->
<link rel="stylesheet" href="{{ @baseRes }}css/plugins/aos.css">
<link rel="stylesheet" href="{{ @baseRes }}css/plugins/swiper-bundle.min.css">
<link rel="stylesheet" href="{{ @baseRes }}css/plugins/perfect-scrollbar.css">
<link rel="stylesheet" href="{{ @baseRes }}css/plugins/jquery.powertip.min.css">
<link rel="stylesheet" href="{{ @baseRes }}css/plugins/glightbox.min.css">
<link rel="stylesheet" href="{{ @baseRes }}css/plugins/flatpickr.min.css">
<link rel="stylesheet" href="{{ @baseRes }}css/plugins/ion.rangeSlider.min.css">
<link rel="stylesheet" href="{{ @baseRes }}css/plugins/select2.min.css">

<!-- Style CSS -->
<link rel="stylesheet" href="{{ @baseRes }}css/style.css">