<!-- JS Vendor, Plugins & Activation Script Files -->

<!-- Vendors JS -->
<script src="{{ @baseRes }}js/vendor/modernizr-3.11.7.min.js"></script>
<script src="{{ @baseRes }}js/vendor/jquery-3.6.0.min.js"></script>
<script src="{{ @baseRes }}js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="{{ @baseRes }}js/vendor/bootstrap.bundle.min.js"></script>

<!-- Plugins JS -->
<script src="{{ @baseRes }}js/plugins/aos.js"></script>
<script src="{{ @baseRes }}js/plugins/parallax.js"></script>
<script src="{{ @baseRes }}js/plugins/swiper-bundle.min.js"></script>
<script src="{{ @baseRes }}js/plugins/perfect-scrollbar.min.js"></script>
<script src="{{ @baseRes }}js/plugins/jquery.powertip.min.js"></script>
<script src="{{ @baseRes }}js/plugins/nice-select.min.js"></script>
<script src="{{ @baseRes }}js/plugins/glightbox.min.js"></script>
<script src="{{ @baseRes }}js/plugins/jquery.sticky-kit.min.js"></script>
<script src="{{ @baseRes }}js/plugins/imagesloaded.pkgd.min.js"></script>
<script src="{{ @baseRes }}js/plugins/masonry.pkgd.min.js"></script>
<script src="{{ @baseRes }}js/plugins/flatpickr.js"></script>
<script src="{{ @baseRes }}js/plugins/range-slider.js"></script>
<script src="{{ @baseRes }}js/plugins/select2.min.js"></script>


<!-- Activation JS -->
<script src="{{ @baseRes }}js/main.js"></script>