<!-- Tutor Course Top Info Start -->
<div class="tutor-course-top-info section-padding-01">
	<div class="container custom-container">
		<div class="row gy-10 align-items-center flex-row-reverse">
			<div class="col-md-5">
				<div class="tutor-course-top-info__video">
					<div class="ratio ratio-16x9">
						<img src="{{ @baseRes }}images/coming_soon.jpg" alt="Instructor" width="36" height="36">
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<!-- Tutor Course Top Info Start -->
				<div class="tutor-course-top-info__content">
					<div class="tutor-course-top-info__badges">
						<a class="badges-category" href="#">{{ @data.nama_kategori }}</a>
					</div>
					<h1 class="tutor-course-top-info__title">{{ @data.judul }}</h1>
					<div class="tutor-course-top-info__meta">
						<div class="tutor-course-top-info__meta-instructor">
							<div class="instructor-avatar">
								<img src="{{ @baseRes }}images/instructor/instructor-01.jpg" alt="Instructor" width="36" height="36">
							</div>
							<div class="instructor-name">
								{{ @data.pembicara }}
							</div>
						</div>
					</div>
					<div class="tutor-course-top-info__meta">
						<!-- <div class="tutor-course-top-info__meta-rating">
							<div class="rating-average">
								<strong>4.38</strong> /5
							</div>
							<div class="rating-star">
								<div class="rating-label" style="width: 90%;"></div>
							</div>
							<div class="rating-count">(8)</div>
						</div> -->
						<div class="tutor-course-top-info__meta-action">
							<i class="meta-icon far fa-user-alt"></i> 110 sudah bergabung
						</div>
					</div>
					<div class="tutor-course-top-info__btn">
						<button class="btn btn-primary btn-hover-secondary">
							<i class="far fa-shopping-cart"></i> Gabung </button>
						<!-- <a href="#" class="btn-wishlist">
							<i class="fal fa-heart"></i>
							<span>Add to wishlist</span>
						</a> -->
					</div>
				</div>
				<!-- Tutor Course Top Info End -->
			</div>
		</div>
	</div>
</div>
<!-- Tutor Course Top Info End -->