<!-- Tutor Course tabs Menu Start -->
<div class="tutor-course-tabs bg-color-13">
	<div class="container custom-container">
		<ul class="nav justify-content-center">
			<li>
				<button class="active" data-bs-toggle="tab" data-bs-target="#tab1">Overview</button>
			</li>
			<li>
				<button data-bs-toggle="tab" data-bs-target="#tab2">Packages</button>
			</li>
			<li>
				<button data-bs-toggle="tab" data-bs-target="#tab3">Instructors</button>
			</li>
		</ul>
	</div>
</div>
<!-- Tutor Course tabs Menu End -->
<!-- Tutor Course Main content Start -->
<div class="tutor-course-main-content bg-color-05 section-padding-01 sticky-parent">
	<div class="container custom-container">
		<div class="row gy-10">
			<div class="col-lg-8">
				<div class="course-main-sticky">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab1">
							<!-- Tutor Course Main Segment Start -->
							<div class="tutor-course-main-segment">
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap">
									<h4 class="tutor-course-segment__title">Course Prerequisites</h4>
									<!-- Tutor Course Segment Prerequisites Start -->
									<div class="tutor-course-segment__prerequisites">
										<div class="tutor-course-segment__prerequisites-warning">
											<i class="far fa-exclamation-triangle"></i> Please note that this course has the following prerequisites which must be completed before it can be accessed
										</div>
										<ul class="tutor-course-segment__prerequisites-list">
											<li>
												<a class="prerequisites-item" href="course-single-layout-03.html#">
													<div class="prerequisites-item__thumbnail">
														<img src="{{ @baseRes }}images/courses/courses-36.jpg" alt="Courses" width="70" height="47">
													</div>
													<div class="prerequisites-item__title"> Artificial Intelligence & Machine Learning </div>
												</a>
											</li>
										</ul>
									</div>
									<!-- Tutor Course Segment Prerequisites End -->
								</div>
								<!-- Tutor Course Segment End -->
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap">
									<h4 class="tutor-course-segment__title">About This Course</h4>
									<!-- Tutor Course Segment Content Wrapper Start -->
									<div class="tutor-course-segment__content-wrap">
										<p>In this course, I take you from the fundamentals and concepts of data modeling all the way through a number of best practices and techniques that you’ll need to build data models in your organization. You’ll find many examples that clearly demonstrate the key concepts and techniques covered throughout the course.</p>
										<p>By the end of the course, you’ll be all set to not only put these principles to work, but also to make the key data modeling and design decisions required by the “art” of data modeling that transcend the nuts-and-bolts techniques and design patterns.</p>
										<p>Organisations, or groups of organisations, may establish the need for master data management when they hold more than one copy of data about a business entity. Holding more than one copy of this master data inherently means that there is an inefficiency in maintaining a “single version of the truth” across all copies. Unless people, processes and technology are in place to ensure that the data values are kept aligned across all copies, it is almost inevitable that different versions of information about a business entity will be held.</p>
									</div>
									<!-- Tutor Course Segment Content Wrapper End -->
									<!-- Tutor Course Segment Tags Start -->
									<div class="tutor-course-segment__tags">
										<div class="tutor-course-segment__tags-title">
											<i class="fal fa-tags"></i>
										</div>
										<div class="tutor-course-segment__tags-list">
											<a href="course-single-layout-03.html#"> big data,</a>
											<a href="course-single-layout-03.html#">data,</a>
											<a href="course-single-layout-03.html#">data analysis,</a>
											<a href="course-single-layout-03.html#">data modeling</a>
										</div>
									</div>
									<!-- Tutor Course Segment Tags End -->
								</div>
								<!-- Tutor Course Segment End -->
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap benefits-wrap">
									<h4 class="tutor-course-segment__title">Learning Objectives</h4>
									<!-- Tutor Course Segment Benefits Items Start -->
									<div class="tutor-course-segment__benefits-items">
										<div class="tutor-course-segment__benefit-item">
											<div class="tutor-course-segment__benefit-content">
												<i class="far fa-check"></i>
												<span class="benefit-text">Ready to begin working on real-world data modeling projects,</span>
											</div>
										</div>
										<div class="tutor-course-segment__benefit-item">
											<div class="tutor-course-segment__benefit-content">
												<i class="far fa-check"></i>
												<span class="benefit-text">Expanded responsibilities as part of an existing role</span>
											</div>
										</div>
										<div class="tutor-course-segment__benefit-item">
											<div class="tutor-course-segment__benefit-content">
												<i class="far fa-check"></i>
												<span class="benefit-text">Find a new position involving data modeling.</span>
											</div>
										</div>
									</div>
									<!-- Tutor Course Segment Benefits Items End -->
								</div>
								<!-- Tutor Course Segment End -->
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap">
									<h4 class="tutor-course-segment__title">Requirements</h4>
									<!-- Tutor Course Segment Requirements Items Start -->
									<div class="tutor-course-segment__requirements-content">
										<ul class="tutor-course-segment__list-style-01">
											<li>Basic understanding of data management concepts and constructs such as relational database tables</li>
											<li>Know how different pieces of data logically relate to one another.</li>
										</ul>
									</div>
									<!-- Tutor Course Segment Requirements Items End -->
								</div>
								<!-- Tutor Course Segment End -->
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap audience-wrap">
									<h4 class="tutor-course-segment__title">Target Audience</h4>
									<!-- Tutor Course Segment Requirements Items Start -->
									<div class="tutor-course-segment__audience-content">
										<ul class="tutor-course-segment__list-style-02">
											<li>A business analyst</li>
											<li>Data engineer, or database designer</li>
											<li>Who desires to build a personal toolbox of data modeling best practices and techniques.</li>
										</ul>
									</div>
									<!-- Tutor Course Segment Requirements Items End -->
								</div>
								<!-- Tutor Course Segment End -->
							</div>
							<!-- Tutor Course Main Segment End -->
						</div>
						<div class="tab-pane fade" id="tab2">
							<!-- Tutor Course Main Segment Start -->
							<div class="tutor-course-main-segment">
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap">
									<div class="tutor-course-segment__header">
										<h4 class="tutor-course-segment__title">Packages</h4>
										<div class="tutor-course-segment__lessons-duration">
											<span class="tutor-course-segment__lessons">4 Lessons</span>
											<span class="tutor-course-segment__duration">15h 15m</span>
										</div>
									</div>
									<div class="course-curriculum accordion">
										<repeat group="{{ @data->packages }}" key="{{ @key_packages }}" value="{{ @package }}">
											<div class="accordion-item">
												<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ @package->_id }}">
													<i class="tutor-icon"></i> {{ @package->name }}
												</button>
												<div id="collapse-{{ @package->_id }}" class="accordion-collapse collapse" data-bs-parent="#accordionCourse">
													<div class="course-curriculum__lessons">
														<repeat group="{{ @package->facilities }}" key="{{ @key_facilities }}" value="{{ @facility }}">
															<div class="course-curriculum__lesson">
																<span class="course-curriculum__title">
																	<i class="far fa-file-alt"></i>
																	{{ @facility }}
																</span>
																<span class="course-curriculum__icon">
																	<i class="far fa-lock-alt"></i>
																</span>
															</div>
														</repeat>
													</div>
												</div>
											</div>
										</repeat>
									</div>
								</div>
								<!-- Tutor Course Segment End -->
							</div>
							<!-- Tutor Course Main Segment End -->
						</div>
						<div class="tab-pane fade" id="tab3">
							<!-- Tutor Course Main Segment Start -->
							<div class="tutor-course-main-segment">
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap">
									<h4 class="tutor-course-segment__title">Your Instructors</h4>
									<div class="tutor-course-segment__instructor">
										<div class="tutor-instructor">
											<div class="tutor-instructor__avatar">
												<img src="{{ @baseRes }}images/team/team-member-07.jpg" alt="instructor" width="200" height="246">
											</div>
											<div class="tutor-instructor__instructor-info">
												<h4 class="tutor-instructor__name">Owen Christ</h4>
												<div class="tutor-instructor__ratings">
													<div class="rating-star">
														<div class="rating-label" style="width: 90%;"></div>
													</div>
													<div class="rating-average">
														<span class="rating-average__average">4.75</span>
														<span class="rating-average__total">/5</span>
													</div>
												</div>
												<div class="tutor-instructor__meta">
													<span>
														<i class="far fa-play-circle"></i> 42 Courses </span>
													<span>
														<i class="far fa-comment-alt"></i> 4 Reviews </span>
													<span>
														<i class="far fa-user"></i> 73 Students </span>
												</div>
												<a class="tutor-instructor__link" href="course-single-layout-03.html#">
													<i class="far fa-plus"></i> See more </a>
											</div>
										</div>
									</div>
								</div>
								<!-- Tutor Course Segment End -->
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap">
									<h4 class="tutor-course-segment__title">Student Feedback</h4>
									<div class="tutor-course-segment__feedback">
										<div class="tutor-course-segment__reviews-average">
											<div class="count">4.4</div>
											<div class="reviews-rating-star">
												<div class="rating-star">
													<div class="rating-label" style="width: 90%;"></div>
												</div>
											</div>
											<div class="rating-total">8 Ratings</div>
										</div>
										<div class="tutor-course-segment__reviews-metar">
											<div class="course-rating-metar">
												<div class="rating-metar-star">
													<div class="rating-star">
														<div class="rating-label" style="width: 100%;"></div>
													</div>
												</div>
												<div class="rating-metar-col">
													<div class="rating-metar-bar">
														<div class="rating-metar-line" style="width: 75%;"></div>
													</div>
												</div>
												<div class="rating-metar-text">75%</div>
											</div>
											<div class="course-rating-metar">
												<div class="rating-metar-star">
													<div class="rating-star">
														<div class="rating-label" style="width: 80%;"></div>
													</div>
												</div>
												<div class="rating-metar-col">
													<div class="rating-metar-bar">
														<div class="rating-metar-line" style="width: 13%;"></div>
													</div>
												</div>
												<div class="rating-metar-text">13%</div>
											</div>
											<div class="course-rating-metar">
												<div class="rating-metar-star">
													<div class="rating-star">
														<div class="rating-label" style="width: 60%;"></div>
													</div>
												</div>
												<div class="rating-metar-col">
													<div class="rating-metar-bar">
														<div class="rating-metar-line" style="width: 0%;"></div>
													</div>
												</div>
												<div class="rating-metar-text">0%</div>
											</div>
											<div class="course-rating-metar">
												<div class="rating-metar-star">
													<div class="rating-star">
														<div class="rating-label" style="width: 40%;"></div>
													</div>
												</div>
												<div class="rating-metar-col">
													<div class="rating-metar-bar">
														<div class="rating-metar-line" style="width: 0%;"></div>
													</div>
												</div>
												<div class="rating-metar-text">0%</div>
											</div>
											<div class="course-rating-metar">
												<div class="rating-metar-star">
													<div class="rating-star">
														<div class="rating-label" style="width: 20%;"></div>
													</div>
												</div>
												<div class="rating-metar-col">
													<div class="rating-metar-bar">
														<div class="rating-metar-line" style="width: 13%;"></div>
													</div>
												</div>
												<div class="rating-metar-text">13%</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Tutor Course Segment End -->
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap">
									<h4 class="tutor-course-segment__title">Reviews <span class="count">(3)</span>
									</h4>
									<div class="tutor-course-segment__review-commnet">
										<ul class="comment-list-02">
											<li>
												<div class="comment-item-02">
													<div class="comment-item-02__header">
														<div class="comment-item-02__author">
															<img src="{{ @baseRes }}images/avatar/avatar-02.jpg" alt="Avatar" width="52" height="52">
														</div>
														<div class="comment-item-02__info">
															<h6 class="comment-item-02__name">
																<a href="course-single-layout-03.html#">Chérif Akadiry</a>
															</h6>
															<p class="comment-item-02__date">2 weeks ago</p>
														</div>
													</div>
													<div class="comment-item-02__body">
														<div class="rating-star">
															<div class="rating-label" style="width: 80%;"></div>
														</div>
														<p>el mejor de la historia</p>
													</div>
												</div>
											</li>
											<li>
												<div class="comment-item-02">
													<div class="comment-item-02__header">
														<div class="comment-item-02__author">
															<img src="{{ @baseRes }}images/avatar/avatar-03.jpg" alt="Avatar" width="52" height="52">
														</div>
														<div class="comment-item-02__info">
															<h6 class="comment-item-02__name">
																<a href="course-single-layout-03.html#">Edumall Website</a>
															</h6>
															<p class="comment-item-02__date">2 weeks ago</p>
														</div>
													</div>
													<div class="comment-item-02__body">
														<div class="rating-star">
															<div class="rating-label" style="width: 100%;"></div>
														</div>
														<p>el mejor de la historia</p>
													</div>
												</div>
											</li>
											<li>
												<div class="comment-item-02">
													<div class="comment-item-02__header">
														<div class="comment-item-02__author">
															<img src="{{ @baseRes }}images/avatar/avatar-04.jpg" alt="Avatar" width="52" height="52">
														</div>
														<div class="comment-item-02__info">
															<h6 class="comment-item-02__name">
																<a href="course-single-layout-03.html#">Adeniyi David</a>
															</h6>
															<p class="comment-item-02__date">2 weeks ago</p>
														</div>
													</div>
													<div class="comment-item-02__body">
														<div class="rating-star">
															<div class="rating-label" style="width: 100%;"></div>
														</div>
														<p>el mejor de la historia</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<!-- Tutor Course Segment End -->
								<!-- Tutor Course Segment Start -->
								<div class="tutor-course-segment tutor-course-wrap">
									<h4 class="tutor-course-segment__title">Write a review</h4>
									<div class="tutor-course-segment__reviews">
										<button class="tutor-course-segment__btn btn btn-primary btn-hover-secondary" data-bs-toggle="collapse" data-bs-target="#collapseForm">Write a review</button>
										<div class="collapse" id="collapseForm">
											<!-- Comment Form Start -->
											<div class="comment-form">
												<form action="course-single-layout-03.html#">
													<div class="comment-form__rating">
														<label class="label">Your rating: *</label>
														<ul id="rating" class="rating">
															<li class="star" title='Poor' data-value='1'>
																<i class="far fa-star"></i>
															</li>
															<li class="star" title='Poor' data-value='2'>
																<i class="far fa-star"></i>
															</li>
															<li class="star" title='Poor' data-value='3'>
																<i class="far fa-star"></i>
															</li>
															<li class="star" title='Poor' data-value='4'>
																<i class="far fa-star"></i>
															</li>
															<li class="star" title='Poor' data-value='5'>
																<i class="far fa-star"></i>
															</li>
														</ul>
													</div>
													<div class="row gy-4">
														<div class="col-md-6">
															<div class="comment-form__input">
																<input type="text" class="form-control" placeholder="Your Name *">
															</div>
														</div>
														<div class="col-md-6">
															<div class="comment-form__input">
																<input type="email" class="form-control" placeholder="Your Email *">
															</div>
														</div>
														<div class="col-md-12">
															<div class="comment-form__input">
																<textarea class="form-control" placeholder="Your Comment"></textarea>
															</div>
														</div>
														<div class="col-md-12">
															<div class="comment-form__input form-check">
																<input type="checkbox" id="save">
																<label for="save">Save my name, email, and website in this browser for the next time I comment.</label>
															</div>
														</div>
														<div class="col-md-12">
															<div class="comment-form__input">
																<button class="btn btn-primary btn-hover-secondary">Submit</button>
															</div>
														</div>
													</div>
												</form>
											</div>
											<!-- Comment Form End -->
										</div>
									</div>
								</div>
								<!-- Tutor Course Segment End -->
							</div>
							<!-- Tutor Course Main Segment End -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<!-- Tutor Course Sidebar Start -->
				<div class="tutor-course-sidebar sidebar-label">
					<!-- Tutor Course Price Preview Start -->
					<div class="tutor-course-price-preview">
						<div class="tutor-course-price-preview__price">
							<div class="tutor-course-price">
								<span class="sale-price">$46 <span class="separator">.00</span>
								</span>
								<span class="regular-price">$76 <span class="separator">.00</span>
								</span>
							</div>
							<div class="tutor-course-price-badge">39% off</div>
						</div>
						<div class="tutor-course-price-preview__meta">
							<ul class="tutor-course-meta-list">
								<li>
									<div class="label">
										<i class="far fa-sliders-h"></i> Level
									</div>
									<div class="value">Beginner</div>
								</li>
								<li>
									<div class="label">
										<i class="far fa-clock"></i> Duration
									</div>
									<div class="value">15.3 hours</div>
								</li>
								<li>
									<div class="label">
										<i class="far fa-play-circle"></i> Lectures
									</div>
									<div class="value">4 lectures</div>
								</li>
								<li>
									<div class="label">
										<i class="far fa-tag"></i> Subject
									</div>
									<div class="value">
										<a href="course-single-layout-03.html#">Data Modeling</a>
									</div>
								</li>
								<li>
									<div class="label">
										<i class="far fa-globe"></i> Language
									</div>
									<div class="value">Russian</div>
								</li>
							</ul>
						</div>
						<div class="tutor-course-segment">
							<h4 class="tutor-course-segment__title">Material Includes</h4>
							<ul class="tutor-course-segment__list-style-01">
								<li>Videos</li>
								<li>Booklets</li>
							</ul>
						</div>
						<div class="tutor-course-price-preview__social">
							<a href="course-single-layout-03.html#">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="course-single-layout-03.html#">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="course-single-layout-03.html#">
								<i class="fab fa-linkedin-in"></i>
							</a>
							<a href="course-single-layout-03.html#">
								<i class="fab fa-tumblr"></i>
							</a>
						</div>
					</div>
					<!-- Tutor Course Price Preview End -->
					<!-- Sidebar Widget Start -->
					<div class="sidebar-widget border-0">
						<h3 class="sidebar-widget__title">Course categories</h3>
						<ul class="sidebar-widget__link">
							<li>
								<a href="course-single-layout-03.html#">Art & Design</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Business</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Data Science</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Development</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Finance</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Health & Fitness</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Lifestyle</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Marketing</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Music</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Personal Development</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Photography</a>
							</li>
							<li>
								<a href="course-single-layout-03.html#">Teaching & Academics</a>
							</li>
						</ul>
					</div>
					<!-- Sidebar Widget End -->
					<!-- Sidebar Widget Start -->
					<div class="sidebar-widget border-0">
						<h3 class="sidebar-widget__title">Related Courses</h3>
						<div class="sidebar-widget__course">
							<div class="sidebar-widget__course-item">
								<div class="sidebar-widget__course-thumbnail">
									<a href="course-single-layout-01.html">
										<img src="{{ @baseRes }}images/courses/courses-21.jpg" alt="Courses" width="120" height="72">
									</a>
								</div>
								<div class="sidebar-widget__course-content">
									<h4 class="sidebar-widget__course-title">
										<a href="course-single-layout-01.html">Artificial Intelligence: Reinforcement Learning in Python</a>
									</h4>
									<div class="sidebar-widget__course-price">
										<span class="sale-price">$46 <span class="separator">.00</span>
										</span>
										<span class="regular-price">$76 <span class="separator">.00</span>
										</span>
									</div>
								</div>
							</div>
							<div class="sidebar-widget__course-item">
								<div class="sidebar-widget__course-thumbnail">
									<a href="course-single-layout-01.html">
										<img src="{{ @baseRes }}images/courses/courses-15.jpg" alt="Courses" width="120" height="72">
									</a>
								</div>
								<div class="sidebar-widget__course-content">
									<h4 class="sidebar-widget__course-title">
										<a href="course-single-layout-01.html">Statistics for Data Science and Business Analysis</a>
									</h4>
									<div class="sidebar-widget__course-price">
										<span class="sale-price">$25 <span class="separator">.00</span>
										</span>
									</div>
								</div>
							</div>
							<div class="sidebar-widget__course-item">
								<div class="sidebar-widget__course-thumbnail">
									<a href="course-single-layout-01.html">
										<img src="{{ @baseRes }}images/courses/courses-33.jpg" alt="Courses" width="120" height="72">
									</a>
									<div class="sidebar-widget__course-badge">
										<span class="onsale">-38%</span>
									</div>
								</div>
								<div class="sidebar-widget__course-content">
									<h4 class="sidebar-widget__course-title">
										<a href="course-single-layout-01.html">Artificial Intelligence: Reinforcement Learning in Python</a>
									</h4>
									<div class="sidebar-widget__course-price">
										<span class="sale-price">$28 <span class="separator">.00</span>
										</span>
										<span class="regular-price">$45 <span class="separator">.00</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Sidebar Widget End -->
				</div>
				<!-- Tutor Course Sidebar End -->
			</div>
		</div>
	</div>
</div>
<!-- Tutor Course Main content End -->