<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <include href="{{ @baseComponentFolder.'head.html' }}" />
</head>

<body>

    <main class="main-wrapper">

        <include href="{{ @baseComponentFolder.'header.html' }}" />

        <repeat group="{{ @components.komponen }}" key="{{ @urutan }}" value="{{ @komponen }}">
            <include href="{{ @baseComponentFolder.'layout/'.@str_replace('~', @components.page, @komponen).'.html' }}" />
        </repeat>

        <include href="{{ @baseComponentFolder.'footer.html' }}" />
    </main>

    <include href="{{ @baseComponentFolder.'script.html' }}" />
</body>

</html>