<!-- Header Navigation Start -->
<div class="header-navigation d-none d-xl-block">
	<nav class="menu-primary">
		<ul class="menu-primary__container">
			<li>
				<a class="active" href="index-main.html#">
					<span>Demo</span>
				</a>
				<ul class="mega-menu">
					<li>
						<!-- Mega Menu Content Start -->
						<div class="mega-menu-content">
							<div class="row">
								<div class="col-xl-3">
									<div class="menu-content-list">
										<a href="index-main.html" class="menu-content-list__link">Main Demo <span class="badge hot">Hot</span>
										</a>
										<a href="index-course-hub.html" class="menu-content-list__link">Course Hub</a>
										<a href="index-online-academy.html" class="menu-content-list__link">Online Academy <span class="badge hot">Hot</span>
										</a>
										<a href="index-university.html" class="menu-content-list__link">University</a>
										<a href="index-education-center.html" class="menu-content-list__link">Education Center <span class="badge hot">Hot</span>
										</a>
									</div>
								</div>
								<div class="col-xl-3">
									<div class="menu-content-list">
										<a href="index-language-academic.html" class="menu-content-list__link">Language Academic</a>
										<a href="index-single-instructor.html" class="menu-content-list__link">Single Instructor</a>
										<a href="index-dev.html" class="menu-content-list__link">Dev <span class="badge new">New</span>
										</a>
										<a href="index-online-art.html" class="menu-content-list__link">Online Art <span class="badge new">New</span>
										</a>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="menu-content-banner" style="background-image: url({{ @baseRes }}images/home-megamenu-bg.jpg);">
										<h4 class="menu-content-banner__title">Achieve Your Goals With EduMall</h4>
										<a href="index-main.html#" class="menu-content-banner__btn btn btn-primary btn-hover-secondary">Purchase now</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Mega Menu Content Start -->
					</li>
				</ul>
			</li>
			<li>
				<a href="{{ @base }}become-an-instructor">
					<span>Become an Instructor</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
<!-- Header Navigation End -->