<!-- Page Banner Section Start -->
<div class="page-banner bg-color-04">
    <div class="page-banner__wrapper scene">
        <div>
            <!-- Instructor Banner Start -->
            <div class="instructor-banner">
                <div class="container custom-container">
                    <div class="row align-items-end align-items-xl-center">
                        <div class="col-lg-6">
                            <!-- Instructor Banner Start -->
                            <div class="instructor-banner__content" data-aos="fade-up" data-aos-duration="1000">

                                <!-- Section Title Start -->
                                <div class="section-title">
                                    <h2 class="section-title__title-03">Become an Instructor</h2>
                                    <p class="mt-2">Top instructors from around the world teach millions of students on EduMall. </p>
                                </div>
                                <!-- Section Title End -->

                                <a href="become-an-instructor.html#" class="instructor-banner__btn btn btn-primary btn-hover-secondary">Start teaching today</a>
                            </div>
                            <!-- Instructor Banner End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Instructor Banner Image Start -->
                            <div class="instructor-banner__image" data-aos="fade-up" data-aos-duration="1000">
                                <img src="{{ @baseRes }}/images/become-a-teacher-hero-image.png" alt="Teacher Hero" width="727" height="347">
                            </div>
                            <!-- Instructor Banner Image End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Instructor Banner End -->
        </div>

        <div class="instructor-banner__shape-01" data-depth="-0.4"></div>
        <div class="instructor-banner__shape-02" data-depth="-0.4"></div>
        <div class="instructor-banner__shape-03" data-depth="0.4"></div>

    </div>
</div>
<!-- Page Banner Section End -->