<!-- Instructor Action Start -->
<div class="instructor-action section-padding-01">
    <div class="container custom-container">

        <div class="instructor-action__content text-center" data-aos="fade-up" data-aos-duration="1000">
            <h2 class="instructor-action__main-title">Become an Instructor Today</h2>
            <h4 class="instructor-action__sub-title">Join the world's largest online learning marketplace.</h4>
            <a class="instructor-action__btn btn btn-primary btn-hover-secondary" href="become-an-instructor.html#">Start teaching today</a>
        </div>

    </div>
</div>
<!-- Instructor Action End -->