<div class="row gy-6">
	<div class="col-sm-4">
		<!-- Footer Widget Start -->
		<div class="footer-widget">
			<h4 class="footer-widget__title">About</h4>
			<ul class="footer-widget__link">
				<li>
					<a>About Us</a>
				</li>
				<li>
					<a>Webinar</a>
				</li>
				<li>
					<a>Pemateri</a>
				</li>
				<li>
					<a>Kegiatan</a>
				</li>
				<li>
					<a>Event Organizer</a>
				</li>
			</ul>
		</div>
		<!-- Footer Widget End -->
	</div>
	<div class="col-sm-4">
		<!-- Footer Widget Start -->
		<div class="footer-widget">
			<h4 class="footer-widget__title">Links</h4>
			<ul class="footer-widget__link">
				<li>
					<a>News & Blogs</a>
				</li>
				<li>
					<a>Library</a>
				</li>
				<li>
					<a>Gallery</a>
				</li>
				<li>
					<a>Partners</a>
				</li>
				<li>
					<a>Career</a>
				</li>
			</ul>
		</div>
		<!-- Footer Widget End -->
	</div>
	<div class="col-sm-4">
		<!-- Footer Widget Start -->
		<div class="footer-widget">
			<h4 class="footer-widget__title">Support</h4>
			<ul class="footer-widget__link">
				<li>
					<a>Documentation</a>
				</li>
				<li>
					<a>FAQs</a>
				</li>
				<li>
					<a>Forum</a>
				</li>
				<li>
					<a>Sitemap</a>
				</li>
			</ul>
		</div>
		<!-- Footer Widget End -->
	</div>
</div>