<!-- Footer Widget Start -->
<div class="footer-widget">
	<a href="course-single-layout-03.html#" class="footer-widget__logo">
		<img src="{{ @baseRes }}images/dark-logo.png" alt="Logo" width="150" height="32">
	</a>
	<div class="footer-widget__info">
		<span class="title">Hubungi Kami</span>
		<span class="number">03199724509</span>
		<span class="number">+62 857 3093 3858 (WA)</span>
	</div>
	<div class="footer-widget__info">
		<p>Jalan Al-Amin 3 Suko, Sidoarjo, Jawa Timur</p>
		<p>PT Sarijan International Digital School and Training Indonesia</p>
		<p>office@ruangseminar.id</p>
	</div>
	<div class="footer-widget__social-02">
		<a class="twitter" href="http://twitter.com/RuangSeminar" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
		<a class="facebook" href="http://facebook.com/RuangSeminarindo" target="_blank">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a class="youtube" href="http://youtube.com/c/ruangseminartv" target="_blank">
			<i class="fab fa-youtube"></i>
		</a>
		<a class="linkedin" href="http://linkedin.com/showcase/ruangseminar" target="_blank">
			<i class="fab fa-linkedin-in"></i>
		</a>
	</div>
</div>
<!-- Footer Widget End -->