<!-- Offcanvas Start -->
<div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu" style="background-image: url({{ @baseRes }}images/mobile-bg.jpg);">
    <div class="offcanvas-header bg-white">
        <div class="offcanvas-logo">
            <a class="offcanvas-logo__logo" href="index-main.html#">
                <img src="{{ @baseRes }}images/dark-logo.png" alt="Logo">
            </a>
        </div>
        <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas">
            <i class="fal fa-times"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <nav class="canvas-menu">
            <ul class="offcanvas-menu">
                <li>
                    <a class="active" href="index-main.html#">
                        <span>Demo</span>
                    </a>
                    <ul class="mega-menu">
                        <li>
                            <!-- Mega Menu Content Start -->
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="menu-content-list">
                                            <a href="index-main.html" class="menu-content-list__link">Main Demo <span class="badge hot">Hot</span>
                                            </a>
                                            <a href="index-course-hub.html" class="menu-content-list__link">Course Hub</a>
                                            <a href="index-online-academy.html" class="menu-content-list__link">Online Academy <span class="badge hot">Hot</span>
                                            </a>
                                            <a href="index-university.html" class="menu-content-list__link">University</a>
                                            <a href="index-education-center.html" class="menu-content-list__link">Education Center <span class="badge hot">Hot</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="menu-content-list">
                                            <a href="index-language-academic.html" class="menu-content-list__link">Language Academic</a>
                                            <a href="index-single-instructor.html" class="menu-content-list__link">Single Instructor</a>
                                            <a href="index-dev.html" class="menu-content-list__link">Dev <span class="badge new">New</span>
                                            </a>
                                            <a href="index-online-art.html" class="menu-content-list__link">Online Art <span class="badge new">New</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="menu-content-banner" style="background-image: url({{ @baseRes }}images/home-megamenu-bg.jpg);">
                                            <h4 class="menu-content-banner__title">Achieve Your Goals With EduMall</h4>
                                            <a href="index-main.html#" class="menu-content-banner__btn btn btn-primary btn-hover-secondary">Purchase now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mega Menu Content Start -->
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="index-main.html#">
                        <span>Become an Instructor</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Header User Button Start -->
    <div class="offcanvas-user d-lg-none">
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__login btn btn-secondary btn-hover-secondarys" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
        </div>
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__signup btn btn-primary btn-hover-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up</button>
        </div>
    </div>
    <!-- Header User Button End -->
</div>
<!-- Offcanvas End -->