<!-- Banner Start -->
<div class="banner-section section-padding-02">
    <div class="container">
        <div class="row gy-8">
            <div class="col-lg-6">
                <!-- Banner Box Start -->
                <div class="banner-box banner-bg-1" data-aos="fade-up" data-aos-duration="1000">
                    <div class="row gy-4 gy-sm-0 align-items-end">
                        <div class="col-xxl-6 col-md-7">
                            <div class="banner-caption">
                                <h3 class="banner-caption__title">Become An Instructor</h3>
                                <p>Top instructors from around the world teach millions of students on EduMall.</p>
                                <a href="course-grid-left-sidebar.html" class="banner-caption__btn btn btn-primary btn-hover-secondary">Start teaching today</a>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-md-5">
                            <div class="banner-image banner-position">
                                <img src="{{ @baseRes }}images/banner-image-group-teachers.png" alt="Banner" width="350" height="201">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Box End -->
            </div>
            <div class="col-lg-6">
                <!-- Banner Box Start -->
                <div class="banner-box banner-bg-2" data-aos="fade-up" data-aos-duration="1000">
                    <div class="row gy-4 gy-sm-0 align-items-end">
                        <div class="col-md-7">
                            <div class="banner-caption">
                                <h3 class="banner-caption__title">Access To Education</h3>
                                <p>Create an account to receive our newsletter, course recommendations and promotions.</p>
                                <a href="course-grid-left-sidebar.html" class="banner-caption__btn btn btn-primary btn-hover-secondary">Register for free</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="banner-image banner-position-02">
                                <img src="{{ @baseRes }}images/banner-image-laptop.png" alt="Banner" width="260" height="199">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->