<!-- Call To Action Start -->
<div class="call-to-action section-padding-02">
    <div class="container">
        <!-- Call To Action Wrapper Start -->
        <div class="call-to-action__wrapper">
            <!-- Call To Action Icon Start -->
            <div class="call-to-action__icon" data-aos="zoom-in" data-aos-duration="1000">
                <i class="fas fa-bolt"></i>
            </div>
            <!-- Call To Action Icon End -->
            <!-- Call To Action Content Start -->
            <div class="call-to-action__content">
                <div class="call-to-action__shape-01"></div>
                <div class="call-to-action__shape-02"></div>
                <div class="call-to-action__shape-03"></div>
                <div class="call-to-action__caption">
                    <h3 class="call-to-action__sub-title">Let Us Help</h3>
                    <h3 class="call-to-action__main-title">Finding Your Right Courses</h3>
                </div>
                <div class="call-to-action__btn">
                    <a href="course-category.html" class="btn btn-secondary btn-hover-primary">Get started</a>
                </div>
            </div>
            <!-- Call To Action Content End -->
        </div>
        <!-- Call To Action Wrapper End -->
    </div>
</div>
<!-- Call To Action End -->