<!-- Categories Section Start -->
<div class="categories-section section-padding-02">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
            <h2 class="section-title__title">Top <mark>Categories</mark>
            </h2>
        </div>
        <!-- Section Title End -->
        <div class="row g-6">
            <repeat group="{{ @dataKategori }}" key="{{ @key_kategori }}" value="{{ @category }}">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <!-- categories Item Start -->
                    <div class="categories-item" data-aos="fade-up" data-aos-duration="1000">
                        <a class="categories-item__link" href="{{ @base }}category/{{ @category.id_kategori }}">
                            <div class="categories-item__icon">
                                <i class="far fa-{{ @category.icon_category }}" style="font-size: 40px;"></i>
                            </div>
                            <div class="categories-item__info">
                                <h3 class="categories-item__name">{{ @category.nama_kategori }}</h3>
                            </div>
                        </a>
                    </div>
                    <!-- categories Item End -->
                </div>
            </repeat>
        </div>
    </div>
</div>