<!-- Partners Start -->
<div class="partners-seaction section-padding-01">
    <div class="container">
        <div class="row gy-8 align-items-center">
            <div class="col-lg-3 col-md-6">
                <!-- Section Title Start -->
                <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                    <h2 class="section-title__title">Who Will You <br> Learn <mark>With?</mark>
                    </h2>
                    <p>You can list your partners or instructors's brands here to show off your site's reputation and students can trust you more.</p>
                </div>
                <!-- Section Title End -->
                <div class="section-btn" data-aos="fade-up" data-aos-duration="1000">
                    <a href="index-main.html#" class="btn btn-light btn-hover-primary">View all Partners</a>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Partners Logo Wrapper Start -->
                <div class="partner-logo-wrapper" data-aos="fade-up" data-aos-duration="1000">
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-01.jpg" alt="Brand Logo" width="68" height="92">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-02.jpg" alt="Brand Logo" width="122" height="70">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-03.jpg" alt="Brand Logo" width="105" height="108">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-04.jpg" alt="Brand Logo" width="78" height="91">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-05.jpg" alt="Brand Logo" width="76" height="91">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-06.jpg" alt="Brand Logo" width="99" height="71">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-07.jpg" alt="Brand Logo" width="93" height="72">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-08.jpg" alt="Brand Logo" width="77" height="72">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-09.jpg" alt="Brand Logo" width="75" height="92">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-10.jpg" alt="Brand Logo" width="87" height="75">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-11.jpg" alt="Brand Logo" width="87" height="78">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                    <!-- Partners Logo Start -->
                    <div class="partner-logo">
                        <div class="partner-logo__logo">
                            <img src="{{ @baseRes }}images/partners-logo/client-logo-12.jpg" alt="Brand Logo" width="107" height="69">
                        </div>
                    </div>
                    <!-- Partners Logo End -->
                </div>
                <!-- Partners Logo Wrapper End -->
            </div>
        </div>
    </div>
</div>
<!-- Partners End -->